{% extends "layout.html" %}
{% block content %}
<div class="content-section m-auto text-center">
    <h1 class=" mt-3">Flask Blog</h1>
    <br>
    <p>A simple blog with login system created to learn basic functionalities of Flask web framework.</p>
    <br>
    <p> Main packages used in the process:</p>
    <ul class=" w-75 mx-auto">
        <li> Flask-Login</li>
        <li> Flask-Mail</li>
        <li>Flask-WTF</li>
        <li> WTForms</li>
        <li> SQLAlchemy</li>
    </ul>
</div>
{% endblock content %}